[Unit]
Description=Nominal API
After=network.target

[Service]
Type=simple
User=ec2-user
ExecStart=/usr/bin/node /var/app/build/index.js
Restart=on-failure
EnvironmentFile=/var/app/.env

[Install]
WantedBy=multi-user.target