[Unit]
Description=Nominal API
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/var/app
ExecStart=npm run start
Restart=on-failure
EnvironmentFile=/var/app/.env

[Install]
WantedBy=multi-user.target